<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
</head>
<body>
<h1>Menu Principal</h1>
<div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
    <a href="/accounts/create-account">Criar Conta</a><br/>
</div>
<div th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'', ''ROLE_USER'')')}">
    <a href="/transactions/credit">Creditar Valor</a><br/>
    <a href="/transactions/debit">Debitar Valor</a><br/>
    <a href="/transactions/transfer">Transferir entre Contas</a><br/>
</div>
<a href="/logout">Logout</a>
<div th:if="${success}" style="color: green;" th:text="${success}"></div>
<div th:if="${error}" style="color: red;" th:text="${error}"></div>
</body>
</html>