<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transferir Valor</title>
</head>
<body>
<h1>Transferir Valor</h1>
<form th:action="@{/user/transfer}" method="post">
    <label>Selecione conta para debitar:
        <select name="fromAccountId" required>
            <option value="">Selecione uma conta para debitar</option>
            <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.clientName + ' (Saldo: ' + account.balance + ')'}"></option>
        </select>
    </label><br/>
    <label>Selecione conta para creditar:
        <select name="toAccountId" required>
            <option value="">Selecione uma conta para creditar</option>
            <option th:each="account : ${accounts}" th:value="${account.id}" th:text="${account.clientName + ' (Saldo: ' + account.balance + ')'}"></option>
        </select>
    </label><br/>
    <label>Valor da Transferência R$: <input type="number" step="0.01" name="amount" min="0.01" required/></label><br/>
    <button type="submit">Transferir</button>
</form>
<a href="/menu">Voltar</a>
</body>
</html>